.sidenav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  /*top: 0;*/
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.2s;
/*resetting some text values from pages.css*/
line-height: 3em;
font-size: 1em;
z-index:9999;
}
#header .sidenav a:before,
#header .sidenav a:after {
/*	content: '';
	display: block;
	background: #fff;*/
	height: 0px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidenav a {
  text-decoration: none;
  font-size: 100%;
  color: grey;
  display: block;
  transition: 0.2s;
text-align:left;
overflow: hidden;
white-space: nowrap; /* Don't forget this one */
text-overflow: ellipsis;
}
li.no-break {
white-space: nowrap; /* Don't forget this one */	
}
li.no-break a {
white-space: nowrap; /* Don't forget this one */	
float: left;
}
div.no-break {
white-space: nowrap; /* Don't forget this one */	
}
div.right-align{
    float: right;
    margin-right: 10%;
    transform: translateX(20%);
}
.sidenav a:hover {
  /*color: grey;*/
}
.sidenav #searchbox{
	border: solid black 1px;
	margin:10px;
	margin-left:15px;
	display: block;
}

#menu {
	color: #444;
	background: white;
	width:100%;
	height:100%;
overflow: hidden;
white-space: nowrap; /* Don't forget this one */
text-overflow: ellipsis;
}
#menu ul{
	width:97%;
	list-style:none;
	padding-left:1px;
overflow: hidden;
white-space: nowrap; /* Don't forget this one */
text-overflow: ellipsis;
}
#menu ul li{
	padding-left:10px;
	border-top:solid #f3f3f3 2px;
	width: 97%;
	overflow: hidden;
	white-space: nowrap; /* Don't forget this one */
	text-overflow: ellipsis;
}
#menu li.hide{
	display:none;
}
#menu li.show{
	display:block;
}
li[aria-expanded="true"] ul li{
	display:block;
}
/*li[aria-expanded="true"] ul li a{
	color: #60c2d3;
}*/
li.active a, li.active ul li.active a{
	color: #60c2d3;
	font-weight: 300;
}
li.active ul li a{
	color: #444;
}

.li.active a:hover, li.active ul li.active a:hover{
	/*color: #1a2238;	
	color: #490b3d;	
	color: #ff6a3d;*/	
	color: #60c2d3;	
}
.section2{
}
.section3{
}
.section4{
}


li[aria-expanded="false"] ul li{
	display:none;
}
.sidenav li.currentpage a{
	font-weight:600;
	color: #60c2d3 !important; 	
	
}
li.currentpage a.currentpage{
	/*background-color: #f0f0f0;*/
	font-weight:600;
	color: #60c2d3 !important; 	
}
#menu #html_menu li.currentpage ul{
}
/**/
#main {
  transition: margin-left .5s;
  padding: 16px;
}
.display_inline{
	display:inline;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
