* {
  margin: 0;
  box-sizing: border-box;
}
body {
  /*font-family: 'Lexend Exa', sans-serif;*/
	font-family: Arial, Helvetica, Verdana;
  /*background: url('./images/bg/background.jpg');*/
  background-size: cover;
  background-repeat: no-repeat;
	  color: wheat;
}
/*standard content styling*/
h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	margin: 20px 0 10px 0;
}
h1{
	font-weight: bold;
	font-size: 1.2em;
}
h2, h3, h4, h5, h6 {
	font-size: 1em;
	margin: 15px 0 10px 0;	
}
p {
	margin: 0 0 10px 0;
}
a, a:link, a:active, a:visited, a:hover {
	color: inherit;
	text-decoration: underline;
}

